// Global styling

$primary: #025272;
$secondary: #6797AA;

@font-face {
    font-family: "Fivo Sans Medium";
    src: url("../font/FivoSans-Medium.otf");
}

@font-face {
    font-family: "Fivo Sans Regular";
    src: url("../font/FivoSans-Regular.otf");
}

html {
    font-family: "Fivo Sans Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Fivo Sans Medium", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

// Accessibility

*:focus {
    outline: dotted 2px $secondary;
    outline-offset: 2px;
}

a:focus, button:focus {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: underline !important;
}

.sr-only {
    position: absolute;
    left: -100vw;
    height: 1px;
    width: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
    position: relative;
    left: 0;
    z-index: 999;
    height: auto;
    width: auto;
    white-space: normal;
    overflow: visible;
}

.col {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 8px;
}

.row {
    padding: 64px 0;
}

.sections {
    padding: 0 48px;
    text-align: center;
    line-height: 2;

    h2 {
        font-size: 36px;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 20px;
        margin: 16px;
    }
}

.prim-section {
    background-color: hsla(197, 5%, 95%, 1);
    color: hsla(197, 5%, 5%, 1);

    h2 {
        color: $primary;
    }
}

.alt-section {
    background-color: hsla(197, 15%, 15%, 1);
    color: hsla(197, 15%, 85%, 1);

    h2 {
        color: $secondary;
    }
}

.br-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    .br-mobile {
        display: unset;
    }
}

@media only screen and (max-width: 500px) {

    .sections {
        padding: 0 24px;
        line-height: 1.75;

        h2 {
            font-size: 28px;
        }
    }
}

// Header & Navigation

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.top-bar {
    box-shadow: 0px 3px 3px #1440521a;
    background: white;
}

.top-bar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
    padding: 8px 0;

    img {
        height: 100%;
    }
}

#title {
    text-align: center;
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.5);
}

#skip-nav {
    color: $primary;
}

.actions a:first-child {
    background-color: $primary;
    margin-right: 4px;
}

.actions a:last-child {
    background-color: $secondary;
    margin-left: 4px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        height: 48px;
        width: 144px;
        padding: 0 8px;
        line-height: 18px;
        font-size: 14px;
        text-align: center;
        color: white;
        text-decoration: none;
    }
}

nav {
    background-color: $secondary;
    height: 48px;

    ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        padding: 0 24px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.menu-icon {
    display: none;
    padding: 12px;
}

.menu-icon-bar {
    width: 26px;
    height: 2px;
    background-color: $primary;
    margin: 5px 0;
}

@media only screen and (max-width: 900px) {

    .actions {
        position: fixed;
        bottom: 8px;
        right: 8px;

        a {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
    }

    .menu-icon {
        display: block;
    }

    nav {
        position: fixed;
        top: 100px;
        right: 0;
        height: 0;
        overflow: hidden;
        width: 50vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: height 0.3s ease;

        .close {
            padding: 0;
        }

        ul {
            flex-direction: column;
        }

        li {
            border-color: $primary;
            border-bottom: 1px solid white;
            height: 48px;
            line-height: 48px;
            width: 100%;
            text-align: center;
        }

        li:last-child {
            border-bottom: none;
        }
    }

    .open, nav:focus-within {
        height: 192px;
        border-bottom: 1px solid $primary;
        border-left: 1px solid $primary;
    }

    #nav-trigger div {
        transition: transform 0.3s;
        transform-origin: left;
    }

    .close {
        div {
            visibility: hidden;
        }

        div:last-child {
            visibility: visible;
            transform: rotate(-33deg);
        }

        div:first-child {
            visibility: visible;
            transform: rotate(33deg);
        }
    }
}

@media only screen and (max-width: 500px) {
    nav {
        width: 100vw;
    }

    .open,
    nav:focus-within {
        border-left: none;
    }

    .actions a {
        width: 124px;
    }
}

.carousel-wrapper {
    position: relative;
    height: calc(100vh - 148px);
    width: 100%;
}

.carousel {
    height: 100%;
}

.carousel-slide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-previous {
    z-index: 3;
    transition: opacity 1s ease;
    opacity: 0;
}

.carousel-current {
    z-index: 2;
}

.carousel-next {
    z-index: 1;
}

.carousel-overlay {
    position: absolute;
    z-index: 4;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-arrow {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        font-weight: bold;
        font-size: 48px;
        background: transparent;
        border: none;
    }
}

.carousel-arrow>div>div {
    width: 32px;
    height: 4px;
    background-color: $secondary;
    border-bottom: 2px solid hsla(197, 28%, 44%, .5);

    button {
        padding: 16px 8px 24px;
    }
}

.carousel-left {
    left: 0;

    >div {
        div:first-child {
            transform-origin: left;
            transform: rotate(-45deg) translate(-5px, 5px);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
        }

        div:last-child {
            transform-origin: left;
            transform: rotate(45deg);
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
}

.carousel-right {
    right: 0;

    >div {
        div:first-child {
            transform-origin: right;
            transform: rotate(45deg) translate(5px, 5px);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
        }

        div:last-child {
            transform-origin: right;
            transform: rotate(-45deg);
            box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
        }
    }
}

@media only screen and (max-width: 900px) {
    .carousel-wrapper {
        height: calc(100vh - 100px);
    }

    #title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 30px;
    }

    .carousel-arrow>div>div {
        width: 24px;
    }
}

@media only screen and (max-width: 400px) {
    #title {
        font-size: 24px;
    }
}

.services {

    li, h3 {
        text-align: left;
    }

    li {
        line-height: 1.5;
    }
}

.box {
    margin: -16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    >div {
        padding: 16px;
    }
}

.person {
    img {
        height: 150px;
        border-radius: 50%;
    }

    h4 {
        font-size: 16px;
        width: 150px;
        line-height: 1.25;
    }
}

.insurance {
    li {
        padding: 8px;
    }

    img {
        width: 150px;
        vertical-align: middle;
    }

    p {
        margin-top: 16px;
    }
}

.contact {

    form {
        padding-top: 64px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 96px;
        height: 48px;
        line-height: 48px;
        padding: 0 8px;
        background-color: $primary;
        border: 1px solid white;
        color: white;
        border-radius: 4px;
    }

    label {
        text-align: center;
        padding: 0 8px;
    }

    input, select {
        display: block;
        height: 24px;
        width: 300px;
        border: 1px solid hsla(197, 15%, 15%, 1);
        border-radius: 4px;
    }
}

.check-group {
    padding: 48px;
}

#contact-terms {
    display: inline-block;
    height: unset;
    width: unset;
}

@media only screen and (max-width: 500px) {
    .check-group{
        padding: 24px;
    }
}

.location {
    h3 {
        font-size: 18px;
        color: #6797aa;
    }
}

footer {
    text-align: center;
    font-size: 14px;
    color: hsla(197, 10%, 55%, 1);

    iframe {
        width: 100%;
        height: 450px;
    }

    li {
        padding: 16px;
    }

    a {
        color: hsla(197, 20%, 55%, 1);
    }
}